@charset "UTF-8";

@mixin lg-webkit($first, $rest...) {

    $direction: false;
    $wk_direction: false;
    $colorstops: false;

    // 始点/終点キーワードの変換
    $wk_LT: 0 0;
    $wk_LB: 0 100%;
    $wk_RT: 100% 0;
    $wk_RB: 100% 100%;

    $wk_down:  $wk_LT, $wk_LB;
    $wk_left:  $wk_LT, $wk_RT;
    $wk_up:    $wk_LB, $wk_LT;
    $wk_right: $wk_RT, $wk_LT;

    $wk_to_TL: $wk_RB, $wk_LT;
    $wk_to_TR: $wk_LB, $wk_LT;
    $wk_to_BR: $wk_LT, $wk_RB;
    $wk_to_BL: $wk_RT, $wk_LB;

    // 色だった場合
    @if type-of(nth($first, 1)) == 'color' {
        $direction: $first;
        $wk_direction: $wk_down;
        $colorstops: $rest; // ISSUE
    }
    // 'to' からはじまるキーワードの場合
    @else if type-of($first) == 'list' and nth($first, 1) == 'to' {

        $keywords_map: (
            to bottom: ($wk_down),
            to left: ($wk_left),
            to top: ($wk_up),
            to right: ($wk_right),
            to top left: ($wk_to_TL),
            to top right: ($wk_to_TR),
            to bottom right: ($wk_to_BR),
            to bottom left: ($wk_to_BL),
            to left top: ($wk_to_TL),
            to right top: ($wk_to_TR),
            to right bottom: ($wk_to_BR),
            to left bottom: ($wk_to_BL)
            );

        @if map-has-key($keywords_map, $first) {
            $direction: $first;
            $wk_direction: map-get($keywords_map, $first);
            $colorstops: $rest;
        }
    }
    // 角度かそれ以外か
    @else {
        $msg: '-webkit-gradient() に変換できないよ: #{$first}';
        @error $msg;
        /* #{$msg} */
    }

    // いよいよ出力
    @if ($colorstops) {
        $wk_colorstops: null;

        // いけてないけど……
        @if type-of(nth($first, 1)) == 'color' {
            $wk_colorstops: conv_wk_colorstop($first);
        }

        // カラーストップを変換してはくっつけ、を繰り返す
        @each $cs in $colorstops {
            $wk_colorstops: join($wk_colorstops, conv_wk_colorstop($cs), comma);
        }

        background-image: -webkit-gradient(linear, $wk_direction, $wk_colorstops);
        background-image: linear-gradient($direction, $colorstops);
    }
}

// color-stop() に変換する関数
@function conv_wk_colorstop($colorstop) {
	// $colorstop は <color> と <percentage> のリスト
    @if unit(nth($colorstop, 2)) != '%' {
        $msg: 'パーセンテージで指定しよう: #{$colorstop}';
        @error $msg;
    }
    @return color-stop(nth($colorstop, 2), nth($colorstop, 1));
}